*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai', cursive;
}
.landing{
    display: flex;
    background: url('https://cdn.pixabay.com/photo/2017/03/13/20/48/guitar-2141119_1280.jpg') no-repeat center center/cover;
   height: 753px;
  
}
html{
    scroll-behavior: smooth;
}
.head{
    color: hotpink;
    font-size: 60px;
    font-family: 'Rock Salt', cursive;
    margin-left: 50px;
    margin-top: 50px;
    height: 75px;

}
.head img{height: 80px;
width: 100px;
filter: invert(100%);
margin-right: 6px;
    margin-bottom: -21px;
}
.nav{

    display: flex;
    margin-top: 350px;
    margin-left: -480px;
 

}
.nav  li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 10px;
    font-family: 'Baloo Bhai', cursive;
    font-size: 30px;

}
.nav  li a:hover {
    text-decoration: none;
    color: rgb(83, 78, 78);
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
    background-color: whitesmoke;
    font-family: 'Baloo Bhai', cursive;
    font-size: 35px;
    
}
#about{
    height: 600px;
    width: auto;
   
    position: relative; 
   
    
}
#about::before{
    background: url('http://images.fineartamerica.com/images-medium-large/drum-kit-elevated-view-thomas-northcut.jpg')  no-repeat center center/cover;

  content: "";
    
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.85;
}

h2{
    font-size: 40px;
    text-align: center;
    justify-content: center;
    font-family: 'Baloo Bhai', cursive;
    color: blanchedalmond;
    position: relative;
   
  
   
}
p{ display: flex;
    margin-left: 60%;
    margin-right: 50px;
    margin-top: 50px;
    text-align:left;
    font-size: 20px;
    font-family: 'Baloo Bhai', cursive;
    color:whitesmoke;
    position: relative;
  
    

    
}










#tools{
    display: flex;
    flex-direction: column;

    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
#tools::before{
    background: url('https://i.pinimg.com/originals/a0/ce/43/a0ce435c7e45b59911354d164005f158.jpg')  no-repeat center center/cover;
    content: "";
    
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.ht{
    position: relative;
    color: white;
    font-size: 40px;
}
.tool{display: flex;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
    
    justify-items: center;

  }

 .box{ 
    border: 2px solid rgb(255, 255, 255);
    padding: 21px;
    padding-left: 5;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
   


    border-radius: 28px;
    background: #000000;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: .80;
   
}
.box:hover{ 
    border: 2px solid rgb(0, 0, 0);
    padding: 21px;
    padding-left: 5;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;

    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: .80;
}

 .box img{ 
   height: 160px;
   width: 200px;
   margin: auto;
   display: block;
   position: relative;
}
.tool .box a{
    text-decoration: none;
}

.tb,.hb{
    position: relative;
  
    margin: auto;
    margin-top: 12px;
justify-items: center;
text-align: center;
align-items: center;
justify-content: center;
}
.hb{
    color: rgb(35, 35, 36);
}
.tb{
    color:rgb(100, 52, 24);
}

#forum{ display: flex;
    flex-direction: column;

    position: relative;
    justify-content: center;
    align-items: center;                                          
    padding-top: 30px;
}
#forum::before{
     background: url('https://wallpapercave.com/wp/P3EtD4C.jpg')  no-repeat center center/cover;
    content: "";
    
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.hf{
    justify-content: center;
    align-items: center;
  
    margin: auto;
    font-size: 40px;
}
.tf{
    justify-content: center;
    align-items: center;
  
    margin: auto;
    font-size: 20px;
    padding: 100px;
}

#contact-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    position: relative;
}
#contact-box input, 
#contact-box textarea{
  position: relative;
  top: -45px;
    margin-left: 239px;
    width: 500px;
    padding: 0.5rem;
    border-radius: 50px;
    font-size: 25px;
} 
#contact-box textarea{
    height: 200px;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
  margin-left: -30px;
position: relative;
}
.btn{
    position: relative;
   
    background-color: rgb(240, 182, 75);
    font-size: 45px;
    font-family:'Baloo Bhai', cursive ;
    width: 250px;
    border-radius: 40px;
    right: -60px;
    margin: 30px;
}
.btn:hover{
    position: relative;
    color:rgb(49, 49, 49);
    background-color: rgb(161, 161, 161);
    font-size: 50px;
    font-family:'Baloo Bhai', cursive ;
    width: 280px;
    border-radius: 40px;
    right: -60px;
    margin: 30px;
    cursor: pointer;
}




#connect{
    display: flex;
    flex-direction: column;

    position: relative;
    justify-content: center;
    align-items: center;                                          
    padding-top: 30px;

}
#connect::before{
    background: url('https://wallpapertag.com/wallpaper/full/e/5/e/148966-beautiful-music-wallpaper-hd-1920x1200-for-4k-monitor.jpg')  no-repeat center center/cover;
    content: "";
    
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.90;
}

#contact{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 35vw;
    padding: 10px;
}

label{
    color: rgb(0, 0, 0);
    padding: 10px 0px;
    font-size: 30px;
}

#name, #email, #message{
    width: 30vw;
    border: none;
    border-bottom: 2px solid rgb(252, 186, 3);
    background: transparent;
    color: white;
    font-size: 30px;
    padding: 0.6vw 0vw;
}

#name:focus, #email:focus, #message:focus{
    outline: none;
    border-bottom: 2px solid red;
}

#formhead{
    color: rgb(252, 186, 3);
    font-size: 40px;
}

#connect input[type=submit]{
    width: 200px;
    color: black;
    background: rgb(252, 186, 3);
    padding: 0.8vw;
    margin: 16px 0px;
    border: none;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    
}

#connect input[type=submit]:hover{
    background: transparent;
    border: 2px solid rgb(252, 186, 3);
    color: white;
    font-size: 30px;
}
.check
{
    color: rgb(0, 0, 0);
    padding: 30px 0px;
    font-size: 30px;
    position: relative;
    width: 500px;  
    left: -320px;
}

.checkmark{
    height: 40px;
    width: 40px;
    
}
input[type="checkbox"]{
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: violet;
    
}

.option{
    color: rgb(252, 186, 3);
    font-size: 30px;
    position: relative;
    left: -320px;
}
.ch{
    font-size: 40px;
}